html, body {
  position: relative;
  height: 100%;
}

body {
  text-align: center;
  font-family: 'Source Code Pro';
  background: black;
  color: white;
}

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.diamond {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
}

.highlighted-container {
  margin-top: 40px;
  font-weight: 600;
}
